<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link href="backend.css" rel="stylesheet">
</head>
<body>
    <div id="logo">
        <h2 >FortunateWins Admin App</h2>
        <div class="userInfo">
            <a href="/home" class="home">home</a>
            <a href="/logout" class="user" >sinout</a>  
        </div>
    
    </div>
</body>   