<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% teams.forEach(team => { %>
            <div class="t-teams">
                <img class="logo" src=<%= team.logo %> >
                <div ><%= team.team_name %></div>
                <div><%= team.country %></div>
            </div>
        <% }); %>
</body>
</html>
